body { background: #aac846; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 10px; display: flex; }
.block-cluster-0 { color: #a2f903; font-size: 12px; margin-bottom: 5px; }
.block-router-1 { color: #518907; font-size: 12px; margin-bottom: 5px; }
.block-cluster-2 { color: #59df; font-size: 13px; margin-bottom: 5px; }
.block-email-3 { color: #5d6604; font-size: 15px; margin-bottom: 5px; }
.block-email-4 { color: #ed8d69; font-size: 12px; margin-bottom: 5px; }
.block-shipping-5 { color: #7d9c1c; font-size: 16px; margin-bottom: 5px; }
.block-shipping-6 { color: #14b6ac; font-size: 16px; margin-bottom: 5px; }
.block-sms-7 { color: #6abc89; font-size: 16px; margin-bottom: 5px; }